@import "tailwindcss";

@theme {
  --animate-shimmer: shimmer 2s infinite linear;
  
  @keyframes shimmer {
    0% {
      transform: translateX(-150%) skewX(-12deg);
    }
    100% {
      transform: translateX(300%) skewX(-12deg);
    }
  }
}
